<div class="mcq-options-container" [formGroup]="answerFormGroup">
    <div formArrayName="options">
      <div *ngFor="let optionControl of optionsFromArray.controls; let i = index trachBy: trackByFn">
        <input type="checkbox" name="options-mcq" [disabled]="true" />
        <input
          type="text"
          placeholder="Enter option text"
          [formControlName]="i"
        />
        <button type="button" (click)="removeOption(i)">Remove</button>
      </div>
    </div>
  
    <div class="add-option-container">
      <button type="button" (click)="addOption()">Add Option</button>
    </div>
  </div>
  