<div class="mcq-options-container">
    <div *ngFor="let optionControl of optionsFromArray.value; let i = index">
        <input type="checkbox" name="options-scq" [disabled]="true"/>
        <input type="text" placeholder="Enter option text" [formControl]="getCurrentOptionControl(i)" />
        <button type="button" (click)="removeOption(i)">Remove</button>
    </div>
    <div class="add-option-container">
        <button type="button" (click)="addOption()">Add Option</button>
    </div>
</div>