<div class="main-container">
    <form [formGroup]="createSurveyFormGroup" (ngSubmit)="onSubmitCreateSurvey()">
      <div class="survey-title-description-holder">
        <div class="survey-title-container">
          <label for="survey-title">Survey Title</label>
          <textarea appTextAreaResize formControlName="title" id="survey-title">Enter the title of survey</textarea>
        </div>
        <div class="survey-description-container">
          <label for="survey-description">Survey Description</label>
          <textarea appTextAreaResize formControlName="description" id="survey-description">Enter the description of survey</textarea>
        </div>
      </div>

      <div class="question-container" *ngFor="let question of questions.controls; let i = index">
        <div [formGroupName]="i">
          <app-question></app-question>
        </div>
      </div>
  
      <div class="survey-questions-container">
        <div class="add-question-submit-container">
          <div class="add-question-container">
            <button type="button" (click)="addQuestion()">Add Question</button>
          </div>
          <div class="submit-button-container">
            <button type="submit">Publish Survey</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  